<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * * * * * * * * * * * ** * * * * * -->

    <!-- * * * * * * * * * * * * * * * * * -->
    <!--  Obecné nastavení pro Instalátor  -->
    <!-- * * * * * * * * * * * * * * * * * -->

    <!-- Sql*Plus ConnectionString do Enif databáze ve tvaru <username>/<password>@<tnsname> -->
    <add key="SqlPlusConnectionString" value="DENEBPREDOSTRY64/8ahle+@DENEB.WORLD" />

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

    <add key="KlientMachineMachineSettingDeneb2ClientServerAdress" value="PRECLU5PRED"/>
    <add key="KlientApplicationConfigLogFolder" value="%TEMP%\Lancelot\PRET-PREDIKCE"/>
    <add key="DenebClientInstallPath" value="\\presv21\c$\Download\PRET-PREDIKCE\012e" />
    

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- Parametry pro instalaci Lancelot Serveru (AppServer)  -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

	  <add key="AppServerInstallPath" value="\\preclu5n1\C$\DATA\PREDIKCE\Deneb2" />
    <add key="AppServerInstallPath2" value="\\preclu5n2\C$\DATA\PREDIKCE\Deneb2" />

    <add key="ServerApplicationConfigLogDisposingProxyAtSink" value="true"/>
    <add key="ServerApplicationConfigCLogAllFolder" value="K:\Data\PREDIKCE\Deneb2\Logs\EnifLogs\{RunId}\"/>
    <add key="ServerApplicationConfigCLogWarningFolder" value="K:\Data\PREDIKCE\Deneb2\Logs\EnifLogs\{RunId}\"/>
    
    <add key="ServerEnifConfigListeningAddress" value="172.19.35.18" />
    <add key="ServerEnifConfigCopyAdapterConnectionSettingsAddress" value="preclu5obch"/>
    <add key="ServerEnifConfigOmSumTddIntervalSec" value="600"/>
    <add key="ServerEnifConfigOmSumTddStartAt" value="@d.+9h.+30mm"/>
    <add key="ServerEnifConfigImportOMConsFrom" value="-9d.@m.-1m"/>
    <add key="ServerEnifConfigEntityCoreMainEnifConnectionString" value="Data Source=DENEB.WORLD;User ID=DENEBPREDOSTRY64;Password=8ahle+"/>
    <add key="ServerEnifConfigEntityCoreMainEnifDefaultSchema" value="DENEBPREDOSTRY64"/>
    <add key="ServerEnifConfigEntityCoreMainNPSConnectionString" value="Data Source=DENEB.WORLD;User ID=DENEBPREDOSTRY64;Password=8ahle+"/>
    <add key="ServerEnifConfigEntityCoreMainNPSDefaultSchema" value="DENEBPREDOSTRY64"/>

    <add key="ServerEnifConfigCANotifyFilterView" value="41180" />
    <add key="ServerEnifConfigCANotifyFilterData" value="41866" />
    <add key="ServerEnifConfigAddMYCopiesF35708" value="35708" />
    <add key="ServerEnifConfigAddMYCopiesF35445" value="35445" />

    <add key="ServerEnifConfigPRETTS2Delete" value="Yes"/>
    <add key="ServerEnifConfigTTSTimerModule2Delete" value="Yes"/>
    <add key="ServerEnifConfigPRETTSSPODiagsInputPath" value="\\preclu4prod\Data\EnifService\App_data\ETSDiagrams\"/>
    <add key="ServerEnifConfigPRETTSSPOCacheSyncView" value="V_SPO_PROD2018"/>
    <add key="ServerEnifConfigPRETTSR02" value="@d"/>
    
    <add key="ServerDeneb2ServiceExeDBName" value="deneb.world"/>
    <add key="ServerDeneb2ServiceExeDBLogin" value="DENEBPREDOSTRY64"/>
    <add key="ServerDeneb2ServiceExeLogFile" value="K:\Data\PREDIKCE\Deneb2\Logs\DenebLogs\deneb.txt"/>
    <add key="ServerDeneb2ServiceExeLogClients" value="1,2,10,20,30,40,50,60,80,90,110,120,300,51,52,53,54,55,220,230,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,310,200,70,340,341,342,345,410,420"/>
    <add key="ServerDeneb2ServiceExeHromAdmin" value="2"/>
    <add key="ServerDeneb2ServiceExeMaxAdminUsers" value="8"/>
    <add key="ServerDeneb2ServiceExeRootFolderCaption" value="PRET - Predikce"/>
    <add key="ServerDeneb2ServiceExeMaxConnectionsPerUser" value="20"/>
    <add key="ServerDeneb2ServiceExeNotifyQueueSizeLimit" value="5"/>
    <add key="ServerDeneb2ServiceExeNotifyQueueLoadFileCount" value="100"/>
    <add key="ServerDeneb2ServiceExePasswordPolicyEnabled" value="0"/>
    <add key="ServerDeneb2ServiceExeTreeBckgColor" value=""/>
    <add key="ServerDeneb2ServiceExeTreeBckgColorAllUsers" value=""/>
    <add key="ServerDeneb2ServiceExeLogErrorsToDB" value="1"/>


    <add key="ServerWatchDogDeneb2DenebServiceName" value="Deneb2Service PREDIKCE"/>
    <add key="ServerWatchDogDeneb2DiskSpaceCheckIgnore" value="C;L;Q;M" />
    <add key="ServerWatchDogDeneb2MailSubject" value="Lancelot 2400 PRET Predikce" />
    <add key="ServerWatchDogDeneb2SendLogMailSubject" value="Lancelot 2400 PRET Predikce" />
    <add key="ServerWatchDogDeneb2StartCheckTimeOut" value="3600" />
    <add key="ServerWatchDogDeneb2StartCheckFinalTimeOut" value="7200" />
    <add key="ServerWatchDogDeneb2StopCheckTimeOut" value="180" />
    <add key="ServerWatchDogDeneb2OutageBegin" value="Po@0:00|Ut@0:00|St@0:00|Ct@0:00|Pa@0:00|So@0:00|Ne@0:00" />
    <add key="ServerWatchDogDeneb2OutageEnd" value="Po@2:45|Ut@2:45|St@2:45|Ct@2:45|Pa@2:45|So@06:00|Ne@2:45" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_C" value="10GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_K" value="15GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_P" value="10GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimitDelta_P" value="4GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceMailSubject" value="[CSW-ALERT] Lancelot 2400 PRET Predikce" />
    <add key="ServerWatchDogDeneb2DiskSpaceMailTo" value="pavel.frantal@pre.cz;pret.helpdesk@unicorn.com" />
    <add key="ServerWatchDogDeneb2StartRetryCount" value="3" />

    <add key="ServerTreeConfigDeneb2DataTreeTTS1AId" value="F75459"/>
    <add key="ServerTreeConfigDeneb2DataTreeTTS2AId" value="NO"/>

    <add key="ServerTreeConfigDeneb2ViewTreeTTS1AId" value="F75173"/>
    <add key="ServerTreeConfigDeneb2ViewTreeTTS2AId" value="NO"/>


  </appSettings>
</configuration>
