<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * * * * * * * * * * * ** * * * * * -->

    <!-- * * * * * * * * * * * * * * * * * -->
    <!--  Obecné nastavení pro Instalátor  -->
    <!-- * * * * * * * * * * * * * * * * * -->

    <!-- Sql*Plus ConnectionString do Enif databáze ve tvaru <username>/<password>@<tnsname> -->
    <add key="SqlPlusConnectionString" value="DENEBPREDTEST/8ahle+@DENEX.WORLD" />

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- Parametry pro instalaci Lancelot Serveru (AppServer)  -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

    <add key="KlientMachineMachineSettingDeneb2ClientServerAdress" value="PRESV33"/>
    <add key="KlientApplicationConfigLogFolder" value="%TEMP%\Lancelot\PRET-VYVOJ-PREDIKCE"/>
    <add key="DenebClientInstallPath" value="\\presv21\c$\Download\PRET-VYVOJ-PREDIKCE\012e" />
    
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- Parametry pro instalaci Lancelot Serveru (AppServer)  -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

	  <add key="AppServerInstallPath" value="C:\DATA\PREDIKCE\Deneb2" />
    
    
    <add key="ServerApplicationConfigCLogAllFolder" value="K:\Data\PREDIKCE\Deneb2\Logs\EnifLogs\{RunId}\"/>
    <add key="ServerApplicationConfigCLogWarningFolder" value="K:\Data\PREDIKCE\Deneb2\Logs\EnifLogs\{RunId}\"/>
    <add key="ServerApplicationConfigLogDisposingProxyAtSink" value="false"/>
    
    
    <add key="ServerEnifConfigListeningAddress" value="172.17.65.95" />
    <add key="ServerEnifConfigCopyAdapterConnectionSettingsAddress" value="presv33"/>
    <add key="ServerEnifConfigOmSumTddIntervalSec" value="60"/>
    <add key="ServerEnifConfigOmSumTddStartAt" value="@d.+14h.+5mm"/>
    <add key="ServerEnifConfigImportOMConsFrom" value="-7m.@m"/>
    <add key="ServerEnifConfigEntityCoreMainEnifConnectionString" value="Data Source=DENEX.WORLD;User ID=DENEBPREDTEST;Password=8ahle+"/>
    <add key="ServerEnifConfigEntityCoreMainEnifDefaultSchema" value="DENEBPREDTEST"/>
    <add key="ServerEnifConfigEntityCoreMainNPSConnectionString" value="Data Source=DENEX.WORLD;User ID=DENEBPREDTEST;Password=8ahle+"/>
    <add key="ServerEnifConfigEntityCoreMainNPSDefaultSchema" value="DENEBPREDTEST"/>

    <add key="ServerEnifConfigCANotifyFilterView" value="NO" />
    <add key="ServerEnifConfigCANotifyFilterData" value="NO" />
    <add key="ServerEnifConfigAddMYCopiesF35708" value="NO" />
    <add key="ServerEnifConfigAddMYCopiesF35445" value="NO" />

    <add key="ServerEnifConfigPRETTSSPODiagsInputPath" value="\\presvlnc08\Data K\EnifService\App_data\ETSDiagrams\"/>
    <add key="ServerEnifConfigPRETTS2SPODiagsInputPath" value="\\presvlnc08\Data K\EnifService\App_data\ETSDiagrams\"/>
    <add key="ServerEnifConfigPRETTSSPOCacheSyncView" value="V_SPO_UAT2018"/>
    <add key="ServerEnifConfigPRETTSR02" value="-11m.@d"/>
    <add key="ServerEnifConfigPRETTSPXTDataPumpOff" value="Yes"/>
    
    
    
    <add key="ServerDeneb2ServiceExeDBName" value="denex.world"/>
    <add key="ServerDeneb2ServiceExeDBLogin" value="denebpredtest"/>
    <add key="ServerDeneb2ServiceExeLogFile" value="K:\Data\PREDIKCE\Deneb2\Logs\DenebLogs\deneb.txt"/>
    <add key="ServerDeneb2ServiceExeLogClients" value="10,20,30,40,50,60,80,90,110,120,300,51,52,53,54,220,230,391,450,451,452,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,310,200,70,340,341,342,345,410,420"/>
    <add key="ServerDeneb2ServiceExeHromAdmin" value="1"/>
    <add key="ServerDeneb2ServiceExeMaxAdminUsers" value="4"/>
    <add key="ServerDeneb2ServiceExeRootFolderCaption" value="PRET"/>
    <add key="ServerDeneb2ServiceExeMaxConnectionsPerUser" value="4"/>
    <add key="ServerDeneb2ServiceExeNotifyQueueSizeLimit" value=""/>
    <add key="ServerDeneb2ServiceExeNotifyQueueLoadFileCount" value=""/>
    <add key="ServerDeneb2ServiceExePasswordPolicyEnabled" value=""/>
    <add key="ServerDeneb2ServiceExeTreeBckgColor" value="9215712"/>
    <add key="ServerDeneb2ServiceExeTreeBckgColorAllUsers" value="9215712"/>
    <add key="ServerDeneb2ServiceExeLogErrorsToDB" value="0"/>

    <add key="ServerWatchDogDeneb2DenebServiceName" value="Deneb2Service PREDIKCE"/>
    <add key="ServerWatchDogDeneb2DiskSpaceCheckIgnore" value="L;Q;M" />
    <add key="ServerWatchDogDeneb2MailSubject" value="Lancelot 2400 PRET Predikce Vyvoj" />
    <add key="ServerWatchDogDeneb2SendLogMailSubject" value="Lancelot 2400 PRET Predikce Vyvoj" />
    <add key="ServerWatchDogDeneb2StartCheckTimeOut" value="300" />
    <add key="ServerWatchDogDeneb2StartCheckFinalTimeOut" value="NO" />
    <add key="ServerWatchDogDeneb2StopCheckTimeOut" value="120" />
    <add key="ServerWatchDogDeneb2OutageBegin" value="Po@0:00|Ut@0:00|St@0:00|Ct@0:00|Pa@0:00|So@0:00|Ne@0:00" />
    <add key="ServerWatchDogDeneb2OutageEnd" value="Po@2:45|Ut@2:45|St@2:45|Ct@2:45|Pa@2:45|So@06:00|Ne@2:45" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_C" value="1GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_K" value="15GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_P" value="NO" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimitDelta_P" value="NO" />
    <add key="ServerWatchDogDeneb2DiskSpaceMailSubject" value="[CSW-ALERT] Lancelot 2400 PRET Predikce Vyvoj" />
    <add key="ServerWatchDogDeneb2DiskSpaceMailTo" value="" />
    <add key="ServerWatchDogDeneb2StartRetryCount" value="NO" />

    <add key="ServerTreeConfigDeneb2DataTreeTTS1AId" value="F75459"/>
    <add key="ServerTreeConfigDeneb2DataTreeTTS2AId" value="F75459"/>

    <add key="ServerTreeConfigDeneb2ViewTreeTTS1AId" value="F75173"/>
    <add key="ServerTreeConfigDeneb2ViewTreeTTS2AId" value="F75173"/>





  </appSettings>
</configuration>
