<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * * * * * * * * * * * * * ** * * * * * -->

    <!-- * * * * * * * * * * * * * * * * * -->
    <!--  Obecné nastavení pro Instalátor  -->
    <!-- * * * * * * * * * * * * * * * * * -->

    <!-- Sql*Plus ConnectionString do Enif databáze ve tvaru <username>/<password>@<tnsname> -->
    <add key="SqlPlusConnectionString" value="DENEBPREDOSTRY64/8ahle+@DENEB.WORLD" />

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

    <add key="KlientMachineMachineSettingDeneb2ClientServerAdress" value="PRECLU3PRED"/>
    <add key="DenebClientInstallPath" value="\\172.18.6.83\LancelotRunRepository\LTP-PRO\DenebClient" />
    

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- Parametry pro instalaci Lancelot Serveru (AppServer)  -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

	  <add key="AppServerInstallPath" value="\\172.18.6.83\LancelotRunRepository\LTP-PRO\EnifService" />
    <add key="AppServerInstallPath2" value="\\172.18.6.83\LancelotRunRepository\LTP-PRO2\EnifService" />
    

    <add key="ServerApplicationConfigLogDisposingProxyAtSink" value="true"/>
    <add key="ServerApplicationConfigCLogAllFolder" value="C:\Data\Predikce\Deneb2\EnifLogs\{RunId}\"/>
    <add key="ServerApplicationConfigCLogWarningFolder" value="C:\Data\Predikce\Deneb2\EnifLogs\{RunId}\"/>
    
    <add key="ServerEnifConfigListeningAddress" value="172.17.65.85" />
    <add key="ServerEnifConfigCopyAdapterConnectionSettingsAddress" value="preclu3obch"/>
    <add key="ServerEnifConfigOmSumTddIntervalSec" value="600"/>
    <add key="ServerEnifConfigOmSumTddStartAt" value="@d.+9h.+30mm"/>
    <add key="ServerEnifConfigImportOMConsFrom" value="-9d.@m.-1m"/>
    <add key="ServerEnifConfigEntityCoreMainEnifConnectionString" value="Data Source=DENEB.WORLD;User ID=DENEBPREDOSTRY64;Password=8ahle+"/>
    <add key="ServerEnifConfigEntityCoreMainEnifDefaultSchema" value="DENEBPREDOSTRY64"/>
    <add key="ServerEnifConfigEntityCoreMainNPSConnectionString" value="Data Source=DENEB.WORLD;User ID=DENEBPREDOSTRY64;Password=8ahle+"/>
    <add key="ServerEnifConfigEntityCoreMainNPSDefaultSchema" value="DENEBPREDOSTRY64"/>

    <add key="ServerEnifConfigCANotifyFilterView" value="41180" />
    <add key="ServerEnifConfigCANotifyFilterData" value="41866" />
    <add key="ServerEnifConfigAddMYCopiesF35708" value="35708" />
    <add key="ServerEnifConfigAddMYCopiesF35445" value="35445" />
    <add key="ServerEnifConfigEntityCoreMainDefaultSessionImplementorType" value="v2"/>
    
    <add key="ServerDeneb2ServiceExeDBName" value="deneb.world"/>
    <add key="ServerDeneb2ServiceExeDBLogin" value="DENEBPREDOSTRY64"/>
    <add key="ServerDeneb2ServiceExeLogFile" value="C:\data\PREDIKCE\deneb2\Logs\deneb.txt"/>
    <add key="ServerDeneb2ServiceExeLogClients" value="1,2,10,20,30,40,50,60,80,90,110,120,300,51,52,53,54,55,220,230,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,310,200,70,340,341,342,345,410,420"/>
    <add key="ServerDeneb2ServiceExeHromAdmin" value="2"/>
    <add key="ServerDeneb2ServiceExeMaxAdminUsers" value="8"/>
    <add key="ServerDeneb2ServiceExeRootFolderCaption" value="PRET - Predikce"/>
    <add key="ServerDeneb2ServiceExeMaxConnectionsPerUser" value="20"/>
    <add key="ServerDeneb2ServiceExeNotifyQueueSizeLimit" value="5"/>
    <add key="ServerDeneb2ServiceExeNotifyQueueLoadFileCount" value="100"/>
    <add key="ServerDeneb2ServiceExePasswordPolicyEnabled" value="0"/>
    <add key="ServerDeneb2ServiceExeTreeBckgColor" value=""/>
    <add key="ServerDeneb2ServiceExeTreeBckgColorAllUsers" value=""/>
    <add key="ServerDeneb2ServiceExeLogErrorsToDB" value="1"/>
    

    <add key="ServerWatchDogDeneb2DiskSpaceCheckIgnore" value="C;L;Q;M" />
    <add key="ServerWatchDogDeneb2MailSubject" value="Lancelot 2400 PRET Predikce" />
    <add key="ServerWatchDogDeneb2SendLogMailSubject" value="Lancelot 2400 PRET Predikce" />
    <add key="ServerWatchDogDeneb2StartCheckTimeOut" value="3600" />
    <add key="ServerWatchDogDeneb2StartCheckFinalTimeOut" value="7200" />
    <add key="ServerWatchDogDeneb2StopCheckTimeOut" value="180" />
    <add key="ServerWatchDogDeneb2OutageBegin" value="Po@0:00|Ut@0:00|St@0:00|Ct@0:00|Pa@0:00|So@0:00|Ne@0:00" />
    <add key="ServerWatchDogDeneb2OutageEnd" value="Po@4:00|Ut@4:00|St@4:00|Ct@4:00|Pa@4:00|So@06:00|Ne@4:00" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_C" value="10GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_K" value="15GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimit_P" value="10GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceLimitDelta_P" value="4GB" />
    <add key="ServerWatchDogDeneb2DiskSpaceMailSubject" value="[CSW-ALERT] Lancelot 2400 PRET Predikce" />
    <add key="ServerWatchDogDeneb2DiskSpaceMailTo" value="pret.servis@cygni.cz;pavel.frantal@pre.cz" />
    <add key="ServerWatchDogDeneb2StartRetryCount" value="3" />


  </appSettings>
</configuration>
